/* fonts */
/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v18-cyrillic_latin-300.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/inter-v18-cyrillic_latin-300.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/inter-v18-cyrillic_latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-cyrillic_latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/inter-v18-cyrillic_latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-cyrillic_latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/inter-v18-cyrillic_latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin: 0 auto;
  max-width: 1194px;
  padding: 0 24px;
}

/* header */
.header {
  padding-top: 34px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.header__logo-text {
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}
.header__btn {
  display: flex;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  appearance: none;
  border: none;
  background-color: transparent;
}
.header__btn:hover {
  color: rgb(255, 73, 73);
}
.header__btn_mobile {
  display: none;
}
/* search */
.search {
  padding-top: 15px;
}
.search__content {
  border: 1px solid rgb(255, 73, 73);
  border-radius: 5px;
  background: rgb(255, 73, 73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.search__input {
  padding: 14px 31px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  flex-grow: 1;
  min-width: 0;
}
.search__input:placeholder {
  color: rgb(135, 135, 135);
  font-size: 14px;
}
.search__btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 14px 33px;
  background-color: inherit;
  border-color: transparent;
  flex-grow: 0;
  cursor: pointer;
}
.search__btn_mobile {
  display: none;
}

/* content */
.content {
  padding-top: 39px;
}
.content_film {
  padding-top: 52px;
}
.content-wrap {
  display: flex;
  gap: 39px 30px;
  margin-bottom: 94px;
}
.content-wrap_film {
  gap: 60px 43px;
}
.content__itog-search,
.content__film {
  flex-grow: 1;
}
.content__title {
  /* font-size: 24px; */
  font-size: clamp(1.125rem, 1.018rem + 0.54vw, 1.5rem);
  font-weight: 500;
  margin: 0 0 25px;
}
.content__selection-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 39px 30px;
}
.content__side {
  min-width: 262px;
  min-height: calc(100vh - 189px - 94px);
  display: flex;
  flex-direction: column;
  gap: 120px;
  justify-content: space-between;
  /* margin: 0 auto; */
  flex-grow: 0;
}
.content__set {
  align-items: flex-start;
  padding-top: 10px;
}
.content__set_film {
  padding-top: 0;
}
.content__set-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 23px;
}
.content__set-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__set-item {
  display: block;
}
.content__set-category {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px;
}
.content__set-desc {
  font-size: 14px;
}
.content__footer-copiright {
  color: rgb(170, 170, 170);
  font-family: Inter;
  font-size: 14px;
  margin: 0 0 5px;
}
.content__footer-privacy {
  display: block;
  color: rgb(170, 170, 170);
  font-family: Inter;
  font-size: 14px;
  text-decoration-line: underline;
  margin: 0 0 5px;
}
.content__footer-personal {
  display: block;
  color: rgb(170, 170, 170);
  font-family: Inter;
  font-size: 14px;
  text-decoration-line: underline;
  margin: 0;
}

/* card film */
.card {
  max-width: 264px;
  margin: 0 auto;
}
.card__img {
  width: 100%;
  font-size: 0;
}
.card-img {
  width: 100%;
  height: auto;
}
.card__desc {
  padding-top: 12px;
}
.card__title {
  font-size: 16px;
  margin: 0 0 4px;
}
.card__title_bold {
  font-weight: 700;
}
.card__category {
  color: rgb(134, 134, 134);
  font-size: 16px;
  margin: 0 0 12px;
}
.card__rating {
  color: rgb(4, 163, 30);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

/* film page */
.film {
  width: 100%;
  max-width: 838px;
  display: flex;
  gap: 12px 28px;
}
.film__img {
  width: 100%;
  max-width: 460px;
  min-width: 264px;
  font-size: 0;
  border-radius: 10px;
}
.film-img {
  width: 100%;
  height: auto;
}
.film__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  max-width: 350px;
}
.film__title {
  /* font-size: 24px; */
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-weight: 400;
  margin: 0 0 3px;
}
.film__title_bold {
  font-weight: 700;
}
.film__category {
  color: rgb(134, 134, 134);
  font-size: 16px;
  margin: 0 0 2px;
}
.film__rating {
  color: rgb(4, 163, 30);
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 29px;
}
.film__info {
  font-size: 14px;
}
.film__info-p:not(:last-child) {
  margin: 0 0 12px;
}
.film__btn-run {
  padding: 16px 101px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  background-color: rgb(255, 73, 73);
}

@media (max-width: 991px) {
  .content-wrap_film {
    gap: 60px 20px;
  }
  .content__selection-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .film {
    flex-direction: column;
    align-items: center;
  }
  .film__desc {
    max-width: 460px;
  }
}
@media (max-width: 768px) {
  .header__btn {
    align-self: flex-start;
  }
  .header__btn-text {
    display: none;
  }
  .header__btn_mobile {
    display: block;
  }
  .search__btn-text {
    display: none;
  }
  .search__btn_mobile {
    display: block;
  }
  .search__input {
    padding: 14px;
  }
  .content-wrap {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .content__selection-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 39px 30px;
  }
  .content__side {
    min-height: 120px;
  }
  .content_film {
    padding-top: 30px;
  }
}
